.grid-container {
    background-image: url('smallMap.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*width: 825px;
    height: 340px;*/
    width: 1237.5px;
    height: 510px;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: 56.25px 56.25px 56.25px 56.25px 56.25px 56.25px 56.25px 56.25px 56.25px 56.25px 56.25px 56.25px 56.25px 56.25px 56.25px 56.25px 56.25px 56.25px 56.25px 56.25px 56.25px 56.25px ;
    grid-template-rows: 56.25px 56.25px 56.25px 56.25px 56.25px 56.25px 56.25px 56.25px 56.25px ;
}

.grid-item {
    height: 56.25px;
    width: 56.25px;
}

.center {
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    height: 56.25px;
    width: 56.25px;
    -webkit-user-drag: element;
}